.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 132, 203, 0.7);
    text-align: center;
  }
  
  .modal-content {
    background-color: #29ad3f;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #47a628;
    width: 70%;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
  